@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Blaka&family=Bungee&family=Luckiest+Guy&family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height:30vh;
    width: 100vw;
    background: rgb(173, 165, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
h1 {
    font-family: 'Bangers';
    font-size: 8rem;
    color: #000000;
    animation: titleTransition 3s ease-in-out infinite;
}

@keyframes titleTransition {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

body {
    height: 130vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(173, 165, 129);
}

.memoryGameWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-around;
    width: 100vw;
}

.animationWrapper1 {
    width: 25vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: right;
}

.animationWrapper2 {
    width: 25vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.animationsBundle {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slash {
    width: 20vw;
    height: 50vh;
    border-radius: 50%;
    box-shadow: 1px 2px 1px rgba(1, 1, 1, 0.3);
    z-index: 2;
}

.fire {
    height: 60vh;
    width: 23vw;
    z-index: 1;
    position: absolute;
}

.memoryGame {
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /*perspective is related to the z axis (3D)*/
    perspective: 1000px
}

.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /*doesn't let the element in 2D (achatado no plano)*/
    transition: transform 0.9s;
}

.card:active {
    /*to shrink the image while clicking*/
    transform: scale(0.97);
    transition: transform 0.3s;
}

.cardFront,
.cardBack {
    width: 100%;
    height: 100%;
    padding: 20px;
    /*position absolute to put one image above the other (back and front)*/
    position:absolute;
    border-radius: 5px;
    background: #ffffff;
    backface-visibility: hidden; /*property that hides the backface of the element, showing the other card face*/
}

.cardFront {
    transform: rotateY(180deg); /*without this declaration, the backface of the card would be transparent, not shoing the backface card*/
}

/*flip card animation*/

.card.flip {
    transform: rotateY(180deg);
}

.match .cardFront{
    background: rgb(64, 228, 73);
}